main {
  background-color: var(--dark);
  margin: 0 auto;
  max-width: 600px;
  padding: 15px;
  margin-top: 10px;
  border-radius: 15px;
  color: white;
}

main a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.profile {
  margin: 0 auto;
  text-align: center;
  font-family: 'Bebas Neue', 'Courier New', 'Courier', 'monospace';
  letter-spacing: 2px;
}

.profile img {
  width: 75%;
  border-radius: 50%;
  padding: 25px;
}

.links {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link {
  width: 250px;
  padding: 10px;
  margin: 5px;
  background-color: var(--dark2);
  border-radius: 10px;
}

svg {
  font-size: 50px;
  margin-right: 8px;
  color: var(--white);
}


@media screen and (min-width: 600px) and (orientation: portrait) {
  main {
    margin: 0 auto;
    max-width: 90%;
    min-height: 1080px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 30px;
    color: white;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; */
  }
  
  .link {
    min-width: 600px;
    margin: 25px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* width: 250px;
    padding: 10px;
    margin: 5px;
    background-color: var(--dark2);
    border-radius: 10px; */
  }

  .link span {
    font-size: xx-large;
  }
  
  svg {
    font-size: 100px;
    margin-right: 8px;
    color: var(--white);
  }

}