@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --purple: #570CF2;
  --white: #eeffec;
  --green: #279235;
  --dark: #181818;
  --dark2: #2C2E2D;
  --background: #D1D1B6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  color: white;
}

body {
  background-color: var(--dark2);
}